<template>
  <div>
    <span>
    <v-snackbar
      class="rtl text-right"
      v-model="show"
      :color="color"
      :multi-line="true"
      :vertical="true"
    >
      {{ nl2br(message) }}
    </v-snackbar>
      </span>
  </div>
</template>
<script>

  export default {
    data() {
      return {
        show: false,
        color: "primary",
        message: ""
      }
    },
    watch: {
      show(val) {
        if (!val) {
          this.color = "info"
          this.$store.commit("snackbar/setColor", "info")
        }
      }
    },
    methods: {
      nl2br(str) {
        return this.Helper.nl2br(str)
      }
    },
    created: function () {
      this.$store.watch(
        state => state.snackbar.snack,
        () => {
          const msg = this.$store.state.snackbar.snack
          if (msg !== "") {
            this.show = true
            this.message = this.$store.state.snackbar.snack
            this.color = this.$store.state.snackbar.color
            this.$store.commit("snackbar/setSnack", "")
            setTimeout(() => {
              this.$store.commit("snackbar/setColor", "info")
            }, 3000)
          }
        }
      )
    }
  }
</script>
