<template>
    <v-card>
        <v-card-title>ورود به پنل</v-card-title>
        <v-card-text>
            <div>
                <v-text-field
                        v-model="username"
                        label="موبایل"
                        filled
                />
            </div>
            <div>
                <v-text-field
                        v-model="password"
                        label="رمز عبور"
                        filled
                        type="password"
                />
            </div>
            <div>
                <v-btn block @click="send">ورود</v-btn>
            </div>
        </v-card-text>
    </v-card>
</template>
<script>
    const resource = '/auth/driver/login';

    export default {
        data() {
            return {
                username: '',
                password: '',
            }
        },
        computed: {
            formData() {
                return {
                    mobile: this.username,
                    password: this.password,
                }
            }
        },
        methods: {
            send() {
                console.log(this.formData);
                this.$axios.$post(resource, this.formData).then(res => {
                    //console.log(res);
                    if (_.has(res, 'token')) {
                        localStorage.setItem('driverToken', res.token);
                        this.$router.push('/driver');
                    }
                }).catch(e => {
                    console.error(e)
                })
            },
        }
    }
</script>
