

@font-face {
  font-family: 'yekan';
  src: url('~static/fonts/Yekan-modified.eot');
  src: url('~static/fonts/Yekan-modified.eot') format('embedded-opentype'),
    url('~static/fonts/Yekan-modified.woff') format('woff'),
    url('~static/fonts/Yekan-modified.ttf') format('truetype'),
    url('~static/fonts/Yekan-modified.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('~static/fonts/Vazir.eot');
  src: url('~static/fonts/Vazir.eot') format('embedded-opentype'),
    url('~static/fonts/Vazir.woff') format('woff'),
    url('~static/fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('~static/fonts/IRANSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-yekan {
  font-family: yekan, "Roboto", sans-serif;
}

.font-vazir {
  font-family: Vazir, "Roboto", sans-serif !important;
}

.font-iransans {
  font-family: IRANSans, "Roboto", sans-serif !important;
}

a, p, div, span, button, input, h1, h2, h3, h4, h5, h6 {
  font-family: IRANSans, "Roboto", sans-serif;
}

.farsi, .farsi * {
  direction: rtl;
  text-align: right;
  font-family: IRANSans, "Roboto", sans-serif;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-justify {
  text-align: justify !important;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.font-6 {
  font-size: 6px;
}

.font-7 {
  font-size: 7px;
}

.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-19 {
  font-size: 19px;
}

.font-20 {
  font-size: 20px;
}

.font-21 {
  font-size: 21px;
}

.font-22 {
  font-size: 22px;
}

.font-23 {
  font-size: 23px;
}

.font-24 {
  font-size: 24px;
}

.font-25 {
  font-size: 25px;
}

.font-26 {
  font-size: 26px;
}

.font-27 {
  font-size: 27px;
}

.font-28 {
  font-size: 28px;
}

.font-29 {
  font-size: 29px;
}

.font-30 {
  font-size: 30px;
}

.font-31 {
  font-size: 31px;
}

.font-32 {
  font-size: 32px;
}

.font-33 {
  font-size: 33px;
}

.font-34 {
  font-size: 34px;
}

.font-35 {
  font-size: 35px;
}

.font-36 {
  font-size: 36px;
}

.font-37 {
  font-size: 37px;
}

.font-38 {
  font-size: 38px;
}

.font-39 {
  font-size: 39px;
}

.font-40 {
  font-size: 40px;
}

.font-41 {
  font-size: 41px;
}

.font-42 {
  font-size: 42px;
}

.font-43 {
  font-size: 43px;
}

.font-44 {
  font-size: 44px;
}

.font-45 {
  font-size: 45px;
}

.font-46 {
  font-size: 46px;
}

.font-47 {
  font-size: 47px;
}

.font-48 {
  font-size: 48px;
}

.font-49 {
  font-size: 49px;
}

.font-50 {
  font-size: 50px;
}
