.full {
  width: 100% !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.hide-overflow {
  overflow: hidden;
}

.oddTable {
  width: 100%;
}

.oddTable tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.02);
}

.oddTable tr td {
  padding: 5px 10px 5px 10px;
}

.oddTable tr td:first-child {
  font-weight: bold;
  padding-left: 30px;
}

.oddContainer {
  width: 100%;
}

.oddContainer .row:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.oddContainer .row .col {
  padding: 5px 10px 5px 10px;
}

.oddContainer .row .col:first-child {
  font-weight: bold;
  padding-left: 30px;
}

.link {
  text-decoration: none !important;
}
