<template>
    <v-app dark>
        <v-navigation-drawer
                rtl
                v-model="drawer"
                :mini-variant="miniVariant"
                :clipped="clipped"
                fixed
                right
                app
        >
            <v-list>
                <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                        :to="item.link"
                        router
                        exact
                >
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.title"/>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar
                :clipped-left="clipped"
                fixed
                app
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
            <v-btn
                    icon
                    @click.stop="miniVariant = !miniVariant"
            >
                <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
            </v-btn>
            <v-toolbar-title v-text="title"/>
        </v-app-bar>
        <v-content>
            <v-container>
                <nuxt/>
            </v-container>
        </v-content>
        <v-footer
                :fixed="fixed"
                app
        >
            <span>&copy; 2019</span>
        </v-footer>
    </v-app>
</template>

<script>
    export default {
        data() {
            return {
                clipped: false,
                drawer: false,
                fixed: false,
                items: _.get(this.Constants, 'USER_DRAWER', []),
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'پنل راننده'
            }
        },
        middleware: ['navigation', 'driverAuthenticated'],

    }
</script>
