<template>
    <v-app>
        <v-toolbar color="primary" dark>
            <v-toolbar-title>
                <nuxt-link class="link white--text" to="/">
                    <h1 class="font-18">دیجی دلیوری</h1>
                </nuxt-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <client-only>
                <v-toolbar-title v-if="!isMobile">
                    <h1 class="font-15">ارسال بار به هر نقطه از شهر</h1>
                </v-toolbar-title>
            </client-only>
        </v-toolbar>
        <v-content>
            <v-container fluid>
                <nuxt/>
                <Snackbar/>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
    import Snackbar from "~/components/Snackbar.vue"

    export default {
        head() {
            return {
                title: _.get(this.$store.state, 'navigation.title', 'دیجی دلیوری'),
                meta: [
                    {
                        hid: 'author',
                        name: 'author',
                        content: _.get(this.$store.state, 'navigation.title', 'دیجی دلیوری')
                    },
                    {
                        hid: 'og:description',
                        name: 'og:description',
                        content: _.get(this.$store.state, 'navigation.description', 'برای ورود به سیستم کلیک کنید.')
                    },
                ],
                titleTemplate: _.get(this.$store.state, 'navigation.siteTitle', 'دیجی دلیوری') + '-%s',
            }
        },
        data() {
            return {}
        },
        computed: {
            loggedIn() {
                return !!_.get(this.$store.state, 'driver.token', null);
            },
            isMobile() {
                return this.$vuetify.breakpoint.smAndDown;
            },
        },
        components: {
            Snackbar
        },
        middleware: 'navigation'
    }
</script>
