<template>
    <v-card>
        <v-card-title>
            <div class="full"><h1>انتخاب کنید</h1></div>
        </v-card-title>
        <v-card>
            <v-row>
                <v-col cols="12" md="6" lg="3">
                    <v-btn to="/driver">راننده هستم</v-btn>
                    <v-btn to="/supplier">نیاز به ارسال دارم</v-btn>
                </v-col>
            </v-row>
        </v-card>
    </v-card>
</template>
<script>
    export default {
        meta: {
            title: 'صفحه نخست'
        },
        data() {
            return {}
        },
        mounted() {
        },
        methods: {},
        layout: 'landingPage'
    }
</script>
