<template>
    <v-card>
        <v-card-title>
            <div class="full"><h1>انتخاب کنید</h1></div>
        </v-card-title>
        <v-card>
            <span id="map-container">
                <div id="map" style="position:relative;width:100%;height:500px"></div>
                <v-btn @click="myLocation">نمایش من روی نقشه</v-btn>
                <v-btn @click="acceptRequest">قبول سفارش</v-btn>
                <v-btn @click="rejectRequest">رد سفارش</v-btn>
            </span>
        </v-card>
    </v-card>
</template>

<script>


    export default {
        data() {
            return {
                tile: '',
                map: null,
                mabda: null,
                maghsad: null,
                hasMabda: false,
                hasMaghsad: false,
                mabdaCoordinate: {},
                maghsadCoordinate: {},
            }
        },
        mounted() {
            this.cedar();
            this.getOrder();
        },
        watch: {},
        methods: {
            myLocation() {
                return this.map.locate({setView: true, maxZoom: 16});
            },
            acceptRequest() {
                if (confirm('are you sure?')) {

                }
            },
            rejectRequest() {
                if (confirm('are you sure?')) {

                }
            },
            cedar() {
                var map = this.$MapHelper.initial();
                this.map = map;

            },
            getOrder() {
                this.$axios.$get('/driver/orders/now').then(res => {
                    console.log({res});
                    if (_.has(res, 'data.markers.1')) {
                        let mabda_ = _.get(res, 'data.markers.0', {});
                        let maghsad_ = _.get(res, 'data.markers.1', {});

                        console.log({mabda_, maghsad_, 'mabda': mabda_.location, 'maghsad': maghsad_.location,});
                        let mabda = [35.645987, 51.389453];
                        let maghsad = [35.683453, 51.349987];
                        let route = `${mabda[0]},${mabda[1]};${maghsad[0]},${maghsad[1]}`;
                        var geocoder = L.cedarmaps.geocoder('cedarmaps.streets');
                        var direction = L.cedarmaps.direction();
                        geocoder.query('ونک', function (err, res) {
                            console.log({err, res})
                        });

                        let LeafIcon = L.Icon.extend({
                            options: {
                                iconSize: [40, 48],
                                iconAnchor: [20, 48],
                                popupAnchor: [0, -45]
                            }
                        });
                        let mabdaIcon = new LeafIcon({iconUrl: '/map/marker/blue2-icon.png'});
                        let maghsadIcon = new LeafIcon({iconUrl: '/map/marker/red2-icon.png'});

                        let mabdaMarker = this.$MapHelper.marker(map, mabda, mabdaIcon);
                        let maghsadMarker = this.$MapHelper.marker(map, maghsad, maghsadIcon, '<b>مقصد اینجاست</b>');


                        direction.route('cedarmaps.driving', route, (err, json) => {

                            let RouteGeometry = json.result.routes[0].geometry;
                            console.log({err, json, RouteGeometry})
                            let RouteLayer = L.geoJSON(RouteGeometry).addTo(map)

                        });
                    }
                }).catch(err => {
                    console.log({err});
                })

            }
        },
        layout: 'driver'
    }
</script>
